@model Scrum.Application.Reports.ProjectDetailView
@using Newtonsoft.Json
@{
    ViewBag.Title = "Project Planning";
    var projectNameDisplay = String.Join(" - ", Model.ProjectName, Model.ProjectKey);
    var totalIssues = Model.IssueStatistics.Sum(i => i.Numbers);
}

@section scripts {
    <script src="~/Scripts/App/ViewProjectPlanningDetails/project-plan.module.js"></script>
    <script src="~/Scripts/App/ViewProjectPlanningDetails/Controllers/project-plan-overview.controller.js"></script>
}


@section jsCode {
    $(document).ready(function() {
    @*$("#registerForm").attr("block-ui", "");
        $("#registerForm").attr("block-ui-pattern", "{{blockPattern}}");*@
    angular.bootstrap(document.getElementById("mainBody"), ['ProjectPlanModule']);

    });
}

<style type="text/css">
    .search-form .form-group {
        float: left !important;
        transition: all 0.35s, border-radius 0s;
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border-radius: 25px;
        border: 1px solid #ccc;
    }

        .search-form .form-group input.form-control {
            padding-right: 20px;
            border: 0 none;
            background: transparent;
            box-shadow: none;
            display: block;
        }

            .search-form .form-group input.form-control::-webkit-input-placeholder {
                display: none;
            }

            .search-form .form-group input.form-control:-moz-placeholder {
                /* Firefox 18- */
                display: none;
            }

            .search-form .form-group input.form-control::-moz-placeholder {
                /* Firefox 19+ */
                display: none;
            }

            .search-form .form-group input.form-control:-ms-input-placeholder {
                display: none;
            }

        .search-form .form-group:hover,
        .search-form .form-group.hover {
            width: 100%;
            border-radius: 25px 25px 25px 25px;
        }

        .search-form .form-group span.form-control-feedback {
            position: absolute;
            top: -1px;
            right: -2px;
            z-index: 2;
            display: block;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            color: #3596e0;
            left: initial;
            font-size: 14px;
        }
</style>

<div class="panel panel-default" ng-controller="ProjectPlanOverviewController as self" ng-init="self.init(@JsonConvert.SerializeObject(Model))">
    <div class="panel-heading">
        <div class="row" style="line-height: 31px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                Project: <strong>{{self.ProjectDetailView.ProjectDisplayName}}</strong>
                <div class="btn btn-success btn-xs dropdown">
                    <span type="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="badge" ng-hide="self.isLoading">
                            {{self.ProjectDetailView.TotalIssues}}

                        </span><img width="16" height="16" ng-show="self.isLoading" src="~/Content/images/spinner.gif" /> Issue(s)
                        <span type="button" class="caret"></span>
                    </span>
                    <ul class="dropdown-menu">
                        <li ng-repeat="issue in self.ProjectDetailView.IssueStatistics" class="dropdown-header">
                            <span class="badge">{{issue.Numbers}}</span><span class="text-info text-uppercase"> {{issue.Type.Name}}</span>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control input-sm" name="search" id="search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
