@model Scrum.Application.Reports.ProjectDetailView
@using Newtonsoft.Json
@{
    ViewBag.Title = "Project Planning";
    var projectNameDisplay = String.Join(" - ", Model.ProjectName, Model.ProjectKey);
    var totalIssues = Model.IssueStatistics.Sum(i => i.Numbers);
}

@section scripts {
    <script src="~/Scripts/App/ViewProjectPlanningDetails/project-plan.module.js"></script>
    <script src="~/Scripts/App/ViewProjectPlanningDetails/Controllers/project-plan-overview.controller.js"></script>
}


@section jsCode {
    $(document).ready(function() {
    @*$("#registerForm").attr("block-ui", "");
        $("#registerForm").attr("block-ui-pattern", "{{blockPattern}}");*@
    angular.bootstrap(document.getElementById("mainBody"), ['ProjectPlanModule']);

    });
}

<div class="panel panel-default" ng-controller="ProjectPlanOverviewController as self" ng-init="self.init(@JsonConvert.SerializeObject(Model))">
    <div class="panel-heading">
        <div class="row" style="line-height: 31px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                Project: <strong>{{self.ProjectDetailView.ProjectDisplayName}}</strong>
                <div class="btn btn-success btn-pill btn-sm dropdown">
                    <span type="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="badge" ng-hide="self.isLoading">
                            {{self.ProjectDetailView.TotalIssues}}

                        </span><img width="16" ng-show="self.isLoading" height="16" src="~/Content/images/spinner.gif" /> Issue(s)
                        <span type="button" class="caret"></span>
                    </span>
                    <ul class="dropdown-menu">
                        <li ng-repeat="issue in self.ProjectDetailView.IssueStatistics" class="dropdown-header">
                            <span class="badge">{{issue.Numbers}}</span><span class="text-info text-uppercase"> {{issue.Type.Name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" name="search" id="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 10px;">
                        <label class="control-label">QUICK FILTERS:</label>
                    </div>
                    <div class="form-group btn-group" style="padding-left: 10px;">
                        <button type="button" class="btn btn-default btn-sm" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                            <span class="glyphicon glyphicon-paperclip"></span> Only My Issues
                        </button>
                        <button type="button" class="btn btn-success btn-sm" ng-model="singleModel2" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                            Recently Updated
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
