
<div class="row" ng-controller="CreateIssueController as self">
    <form id="createIssueForm" name="createIssueForm"
          valdr-type="CreateIssue" novalidate
          role="form"
          ng-submit="createIssueForm.$valid && self.createIssue()">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="modal-header">
                <h3 class="modal-title">Create issue</h3>
            </div>

            <div class="modal-body">
                <style type="text/css" ng-bind-html="self.modalHeight"></style>

                <div class="form-group" valdr-form-group>
                    <label for="ProjectID" class="control-label">Project<span class="text-danger">*</span></label>
                    <div class="row">
                        <div class="col-md-6">
                            <select name="ProjectID"
                                    class="selectize-control"
                                    selectize="self.projectSelectize"
                                    config="self.projectConfig"
                                    ng-model="self.CreateIssueCommand.ProjectID"></select>
                        </div>

                    </div>
                </div>

                <div class="form-group" valdr-form-group>
                    <label for="IssueTypeID" class="control-label">Issue Type<span class="text-danger">*</span></label>
                    <div class="row">
                        <div class="col-md-6">
                            <select name="IssueTypeID" class="selectize-control"
                                    selectize="self.issueTypeSelectize"
                                    config="self.issueTypeConfig"
                                    ng-model="self.CreateIssueCommand.IssueTypeID"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group" valdr-form-group>
                    <label for="Summary" class="control-label">Summary <span class="text-danger">*</span></label>
                    <div>
                        <input id="Summary" name="Summary" type="text" class="form-control" ng-model="self.CreateIssueCommand.Summary" placeholder="Enter summary" />
                    </div>
                </div>

                <div class="form-group" valdr-form-group>
                    <label for="ReporterID" class="control-label">Reporter <span class="text-danger">*</span></label>
                    <div class="row">
                        <div class="col-md-6">
                            <select name="ReporterID" class="selectize-control"
                                    selectize="self.reporterSelectize"
                                    config="self.reporterConfig"
                                    ng-model="self.CreateIssueCommand.ReporterID"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <div>
                        <textarea name="Description" class="form-control" ng-model="self.CreateIssueCommand.Description" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="PriorityID" class="control-label">Priority</label>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="selectize-control"
                                    selectize="self.prioritySelectize"
                                    config="self.priorityConfig"
                                    ng-model="self.CreateIssueCommand.PriorityID"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Attachment" class="control-label">Attachment</label>
                    <div>
                        <span class="form-control">Drop file to attach or <a href="">Browse.</a></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AssigneeID" class="control-label">Assignee</label>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="selectize-control"
                                    selectize="self.assignSelectize"
                                    config="self.assigneeConfig"
                                    ng-model="self.CreateIssueCommand.AssigneeID"></select>
                        </div>

                    </div>
                    <a href="">Assign to me</a>
                </div>

                <div class="form-group">
                    <label for="SprintID" class="control-label">Sprint</label>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="selectize-control"
                                    selectize="self.sprintSelectize"
                                    config="self.sprintConfig"
                                    ng-model="self.CreateIssueCommand.SprintID"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <checkbox id="createAnother" ng-model="self.createOtherIssue"></checkbox>
                <label for="createAnother">
                    Create another
                </label>
                <button data-spinner-color="black" data-style="zoom-in" ng-ladda="CreateIssue" class="btn btn-primary" type="submit" ng-disabled="createIssueForm.$invalid">Create</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>