@model Scrum.Application.Reports.ProjectDetailView
@using Newtonsoft.Json
@{
    ViewBag.Title = "Search for issues";
}

@section scripts {
    <script src="~/Scripts/App/ViewProjectPlanningDetails/project-plan.module.js"></script>
    <script src="~/Scripts/App/ViewProjectPlanningDetails/Controllers/project-plan-overview.controller.js"></script>
}


@section jsCode {
    $(document).ready(function() {
    @*$("#registerForm").attr("block-ui", "");
        $("#registerForm").attr("block-ui-pattern", "{{blockPattern}}");*@
    angular.bootstrap(document.getElementById("mainBody"), ['ProjectPlanModule']);

    });
}

<style type="text/css">

</style>

<div class="panel panel-default main-panel"
     ng-controller="ProjectPlanOverviewController as projectPlanViewCtrl">

    <div class="panel-heading">
        <div class="row" style="line-height: 31px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <strong>Search</strong>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="has-feedback">
                                        <input type="text" class="form-control input-sm" name="search" id="search">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

</div>


