@model Scrum.Application.Reports.ProjectDetailView
@using Newtonsoft.Json
@{
    ViewBag.Title = "Search for issues";
}

@section scripts {
    <script src="~/Scripts/App/ViewProjectPlanningDetails/project-plan.module.js"></script>
    <script src="~/Scripts/App/ViewProjectPlanningDetails/Controllers/project-plan-overview.controller.js"></script>
}


@section jsCode {
    $(document).ready(function() {
    @*$("#registerForm").attr("block-ui", "");
        $("#registerForm").attr("block-ui-pattern", "{{blockPattern}}");*@
    angular.bootstrap(document.getElementById("mainBody"), ['ProjectPlanModule']);

    });
}

<style type="text/css">

</style>

<div class="panel panel-default main-panel"
     ng-controller="ProjectPlanOverviewController as projectPlanViewCtrl">

    <div class="panel-heading">
        <div class="row" style="line-height: 31px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <strong>Search</strong>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="has-feedback">
                                        <input type="text" class="form-control input-sm" name="search" id="search">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left: 10px;">
                                    <label class="control-label">QUICK FILTERS:</label>
                                </div>
                                <div class="form-group btn-group" style="padding-left: 10px;">
                                    <button type="button" class="btn btn-default btn-sm" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                        <span class="glyphicon glyphicon-paperclip"></span> Only My Issues
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" ng-model="singleModel2" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                        Recently Updated
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-center" ng-show="projectPlanViewCtrl.Sprints.length == 0">
                        <img src="~/Content/images/icon-scrum.png" />
                        <h4>FILL YOUR BACKLOG WITH ISSUES</h4>
                        This is your team backlog. Create and estimate new issues, and prioritize the backlog using drag and drop.
                    </div>

                    <div ng-repeat="sprint in projectPlanViewCtrl.Sprints" class="panel panel-default sprint"
                         on-finish-render="ngRepeatFinished">

                        <div class="panel-heading">
                            <label class="control-label">
                                {{sprint.SprintName}} <span class="badge" ng-hide="projectPlanViewCtrl.isLoading">
                                    {{sprint.Issues.length}} Issues
                                </span>
                            </label>
                        </div>


                        <div id="{{sprint.SprintName}}" class='containerVertical list-group' ng-class="{'sprint-empty': sprint.Issues.length==0}">
                            <div class="list-group-item" ng-repeat="issue in sprint.Issues">
                                {{issue.Key}}
                            </div>
                        </div>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-primary btn-xs" ng-click="open('md', '/Issue/CreateIssue')">Create issue</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row" style="line-height: 31px;">
                        <div class="col-md-2 col-sm-3 col-xs-3">
                            <label class="control-label">
                                Backlog <span class="badge" ng-hide="projectPlanViewCtrl.isLoading">
                                    {{projectPlanViewCtrl.ProjectDetailView.TotalIssues}} Issues
                                </span>
                            </label>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-9 text-right">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="open('md', '/Project/CreateProject')">Create Sprint</button>
                        </div>
                    </div>

                    <div class='containerVertical list-group'>
                        <div class="list-group-item">
                            Move me, but you can only drop me in one of these containers.

                        </div><div class="list-group-item">
                            Move me, but you can only drop me in one of these containers.

                        </div>
                        <div class="list-group-item">
                            Move me, but you can only drop me in one of these containers.

                        </div>
                        <div class="list-group-item">
                            Move me, but you can only drop me in one of these containers.

                        </div>
                        <div class="list-group-item">
                            Move me, but you can only drop me in one of these containers.

                        </div>
                    </div>

                </td>
            </tr>
        </tbody>

    </table>

</div>


